.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.editar{
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

.alterar-senha{
  text-align: center;
}
