.header {
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 5px black;
}

.header-logo h1 {
  font-size: 2.2em;
}

nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

nav li {
  margin-right: 20px;
  padding: 5px;
}

nav li a {
  display: block;
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.2em;
}

nav li a:hover {
  color: blue;
}

nav li .selecionado {
  color: blue;
  text-decoration: underline;
}

#logo {
  font-size: 30px;
  color: var(--font-color);
  text-decoration: none;
  margin-left: 10px;
}
