<div class="header">
  <div class="header-logo">
    <a [routerLink]="['/home']" id="logo" routerLinkActive="router-link-active">Trader<span
        style="font-weight: bold;">Stocks</span></a>
  </div>
  <nav>
    <ul *ngIf="!isAutenticado()">
      <li><a [routerLink]="['/cadastro-trader']" routerLinkActive="selecionado">Registre-se</a></li>
      <li><a [routerLink]="['/login']" routerLinkActive="selecionado">Entrar</a></li>
    </ul>
    <ul *ngIf="isAutenticado()">
      <button mat-button [matMenuTriggerFor]="menu"><span class="material-icons">
          account_circle
        </span> Perfil</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/editar-dados']" routerLinkActive="router-link-active">Editar
          dados</button>
        <button mat-menu-item [routerLink]="['/acoes/admin']" routerLinkActive="router-link-active"
          *ngIf="isAdmin()">Ações - ADMIN</button>
        <button mat-menu-item [routerLink]="['/traders']" routerLinkActive="router-link-active"
          *ngIf="isAdmin()">Traders - ADMIN</button>
        <button mat-menu-item [routerLink]="['/acoes']" routerLinkActive="router-link-active">Ações</button>
        <button mat-menu-item [routerLink]="['/portifolios']" routerLinkActive="router-link-active">Portfólios</button>
        <button mat-menu-item (click)="sair()">Sair</button>
      </mat-menu>
    </ul>
  </nav>
</div>
