.container {
  width: 80%;
  margin: 0 auto;
}

table {
  margin-top: 10px;
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
  width: 50%;
}

.card-form-pesquisa {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: row wrap;
}

.botoes {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
