.cadastro {
  max-width: 600px;
  min-width: 400px;
  margin: 30px auto;
  padding: 20px 5px;
}
.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.botao{
  display: block;
  width: 100%;
}

#titulo{
  text-align: center;
  font-weight: bold;
  color: var(--font-color)
}
