/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
  --body-background: rgb(245, 245, 245);
  --font-color: rgb(44, 44, 44);
  --font-link: rgb(82, 82, 82);
  --font-color-white: rgb(255, 255, 255);
}



